include _header.jade
include _left_panel.jade
<div class="dashboard_right_content">
    <div class="dashboard_content_title">
        <div class="name_title">Company settings</div>
    </div>
    <div class="company_settings_wrap">
        <div class="item information_setting">
            <div class="name">Basic information</div>
            <div class="soc_data">
                <div class="data_item">
                    <div class="data_name">Telegram Full name</div>
                    <div class="data_val">Robert Fox</div>
                </div>
                <div class="data_item">
                    <div class="data_name">Telegram Username</div>
                    <div class="data_val">@robert.fox</div>
                </div>
                <div class="data_item">
                    <div class="data_name">Telegram ID</div>
                    <div class="data_val">345828123</div>
                </div>
            </div>
            <form action="">
                <div class="field">
                    <div class="field_name">Company name</div>
                    <input type="text" value="Arrows & Sparrows">
                </div>
                <div class="field file">
                    <div class="field_name">Company logo</div>
                    <div class="file_field">
                        <img src="files/logo_ava.svg" alt="">
                        <div class="right_file">
                            <div class="file_name">aands.png</div>
                            <div class="file_action">
                                <label for="file_logo">
                                    <div class="btn_button small">Change image</div>
                                </label>
                                <div class="btn_button small red">Change image</div>
                            </div>
                        </div>
                    </div>
                    <input type="file" id="file_logo">
                </div>
                <div class="field file">
                    <div class="field_name">Backgroun image</div>
                    <div class="file_field">
                        <img src="files/logo_ava.svg" alt="">
                        <div class="right_file">
                            <div class="file_name">arrowsnsparrows.jpg</div>
                            <div class="file_action">
                                <label for="file_ava">
                                    <div class="btn_button small">Change image</div>
                                </label>
                                <div class="btn_button small red">Change image</div>
                            </div>
                        </div>
                    </div>
                    <input type="file" id="file_bg">
                </div>
                <div class="field">
                    <div class="field_name">Phone number</div>
                    <input type="text" value="+998 71 200 00 01">
                </div>
                <div class="field">
                    <div class="field_name">Address</div>
                    <input type="text" value="1, Somestreet, Tashkent, Uzbekistan">
                </div>
                <div class="field">
                    <div class="field_name">About company</div>
                    <textarea name="" id="">Arrows & Sparrows is a trendy and vibrant restaurant located in the heart of the city. Boasting a contemporary and eclectic interior, it offers a welcoming and relaxed atmosphere for diners. The menu is a delightful fusion of international flavors with a modern twist, catering to both adventurous foodies and those seeking familiar comfort dishes. </textarea>
                </div>
                <div class="field">
                    <div class="field_name">Business category</div>
                    <select name="cart-type" id="">
                        <option value="">Select from the list</option>
                        <option value="Restaurant">Restaurant</option>
                    </select>
                </div>
                <div class="btn_bottom">
                    <button class="btn_button" type="submit">Save</button>
                </div>
            </form>
        </div>
        <div class="item working_setting">
            <div class="name">Working hours</div>
            <form action="">
                <div class="fields_row">
                    <div class="name_day">Monday</div>
                    <div class="fields">
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                    </div>
                </div>
                <div class="fields_row">
                    <div class="name_day">Tuesday</div>
                    <div class="fields">
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                    </div>
                </div>
                <div class="fields_row">
                    <div class="name_day">Wednesday</div>
                    <div class="fields">
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                    </div>
                </div>
                <div class="fields_row">
                    <div class="name_day">Thursday</div>
                    <div class="fields">
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                    </div>
                </div>
                <div class="fields_row">
                    <div class="name_day">Friday</div>
                    <div class="fields">
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                    </div>
                </div>
                <div class="fields_row">
                    <div class="name_day">Saturday</div>
                    <div class="fields">
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                    </div>
                </div>
                <div class="fields_row">
                    <div class="name_day">Sunday</div>
                    <div class="fields">
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                        <div class="field">
                            <div class="field_name">From</div>
                            <input type="time" value="">
                        </div>
                    </div>
                </div>
                <div class="btn_bottom">
                    <button class="btn_button" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>          
</div>



include _footer.jade