include _header.jade
	include _left_panel.jade
	<div class="dashboard_right_content">
		<div class="dashboard_content_title">
			<div class="name_title">Membership</div>
		</div>	
		<div class="dashboard_table">
			<table>
				<thead>
					<tr>
						<th>Card ID</th>
						<th>Full name</th>
						<th>Phone number</th>
						<th>Checked in</th>
						<th>Checked out</th>
						<th>Expires at</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
					<tr>
						<td>AAA 419301 </td>
						<td>Miss Jonathan Dooley MD </td>
						<td>+(998) 90 819-12-90 </td>
						<td>03/27/2024 12:23 </td>
						<td>03/27/2024 20:06 </td>
						<td>03/27/2024 </td>
					</tr>
				</tbody>
			</table>
		</div>														
	</div>
include _footer.jade