include _header.jade
	include _left_panel.jade
	<div class="dashboard_right_content">
		<div class="dashboard_content_title">
			<div class="name_title">Orders</div>
			<div class="search_block">
				<form action="">
					<button type="submit"></button>
					<input type="text" placeholder="Search">
				</form>
			</div>
		</div>	
		<div class="dashboard_table">
			<table>
				<thead>
					<tr>
						<th width="1">ID</th>
						<th>Full name</th>
						<th width="1">Phone number</th>
						<th width="1">Bill</th>
						<th width="1">Cashback</th>
						<th width="1">Discounted</th>
						<th>Employee</th>
						<th width="1">Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>#52624</td>
						<td>Miss Jonathan Dooley MD</td>
						<td>+(998) 90 819-12-90</td>
						<td>555 099 UZS</td>
						<td>74 416 UZS</td>
						<td>89 389 UZS</td>
						<td>Dr. Susie Swift</td>
						<td>03/21/2024 18:50</td>
					</tr>
					<tr>
						<td>#52624</td>
						<td>Miss Jonathan Dooley MD</td>
						<td>+(998) 90 819-12-90</td>
						<td>555 099 UZS</td>
						<td>74 416 UZS</td>
						<td>89 389 UZS</td>
						<td>Dr. Susie Swift</td>
						<td>03/21/2024 18:50</td>
					</tr>
					<tr>
						<td>#52624</td>
						<td>Miss Jonathan Dooley MD</td>
						<td>+(998) 90 819-12-90</td>
						<td>555 099 UZS</td>
						<td>74 416 UZS</td>
						<td>89 389 UZS</td>
						<td>Dr. Susie Swift</td>
						<td>03/21/2024 18:50</td>
					</tr>
					<tr>
						<td>#52624</td>
						<td>Miss Jonathan Dooley MD</td>
						<td>+(998) 90 819-12-90</td>
						<td>555 099 UZS</td>
						<td>74 416 UZS</td>
						<td>89 389 UZS</td>
						<td>Dr. Susie Swift</td>
						<td>03/21/2024 18:50</td>
					</tr>
					<tr>
						<td>#52624</td>
						<td>Miss Jonathan Dooley MD</td>
						<td>+(998) 90 819-12-90</td>
						<td>555 099 UZS</td>
						<td>74 416 UZS</td>
						<td>89 389 UZS</td>
						<td>Dr. Susie Swift</td>
						<td>03/21/2024 18:50</td>
					</tr>
					<tr>
						<td>#52624</td>
						<td>Miss Jonathan Dooley MD</td>
						<td>+(998) 90 819-12-90</td>
						<td>555 099 UZS</td>
						<td>74 416 UZS</td>
						<td>89 389 UZS</td>
						<td>Dr. Susie Swift</td>
						<td>03/21/2024 18:50</td>
					</tr>
					<tr>
						<td>#52624</td>
						<td>Miss Jonathan Dooley MD</td>
						<td>+(998) 90 819-12-90</td>
						<td>555 099 UZS</td>
						<td>74 416 UZS</td>
						<td>89 389 UZS</td>
						<td>Dr. Susie Swift</td>
						<td>03/21/2024 18:50</td>
					</tr>
					<tr>
						<td>#52624</td>
						<td>Miss Jonathan Dooley MD</td>
						<td>+(998) 90 819-12-90</td>
						<td>555 099 UZS</td>
						<td>74 416 UZS</td>
						<td>89 389 UZS</td>
						<td>Dr. Susie Swift</td>
						<td>03/21/2024 18:50</td>
					</tr>
				</tbody>
			</table>
		</div>														
	</div>
include _footer.jade